@charset "UTF-8";
/*durée transition*/
/*opacité des éléments*/
/*shadow*/
/* TYPO GENERALES */
body {
  font-size: 100%;
  font-family: roboto;
  color: #000;
}

p {
  font-size: 1rem;
}

/* TYPO Caractéristiques INDEX */
h1 {
  font-size: 1.8rem;
  font-weight: bold;
}

/*titres parties des menus*/
h2 {
  font-size: 1.2rem;
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: #000;
}

i {
  font-size: 1.5rem;
}

/*****************************
            INDEX
*******************************/
/* titre des sections - index */
.section__title {
  font-size: 1.8rem;
  font-weight: bold;
}

/* section PRESENTATION */
.presentation__text {
  font-size: 1.5rem;
}
.presentation__btn a {
  color: white;
}

/*section OPERATION "fonctionnement" - index */
.operation__step__container-title {
  font-weight: bold;
}

/* section RESTAURANT - index */
.card {
  font-size: 1rem;
}
.card .new__text {
  font-size: 0.9rem;
  font-weight: bold;
}
.card__text-title {
  font-weight: bold;
}

/* FOOTER */
.footer__logo-text {
  font-family: "Shrikhand";
  color: white;
  font-size: 1.2rem;
}

.mention li a {
  color: #fff;
}
.mention li a i {
  font-size: 1rem;
}

/* Si moins de 768px RESPONSIVE TELEPHONE */
@media screen and (max-width: 768px) {
  h1, .section__title {
    font-size: 1.5rem;
  }

  .presentation__text {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }
}
/*****************************
            MENU
*******************************/
/*Typo page menu restaurant - CARD */
.fa-arrow-left {
  font-size: 5vw;
}

/* TYPO MENU */
.restaurant__name {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
  font-size: 1.8rem;
}

.menu__title {
  font-weight: normal;
  font-size: 1.2rem;
}

.entitle {
  font-weight: bold;
  font-size: 1rem;
}

.entitle__price {
  font-weight: bold;
  font-size: 0.9rem;
}

.entitle__add {
  font-weight: normal;
  font-size: 0.8rem;
}

.btn__buy p {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}

/* Si moins de 768px RESPONSIVE TELEPHONE*/
@media screen and (max-width: 768px) {
  .fa-arrow-left {
    font-size: 6vw;
  }

  .restaurant__name {
    font-size: 1.6rem;
  }
}
/*HEADER - INDEX*/
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 20px 0;
}

/* HEADER CARD menu */
.back {
  position: absolute;
  left: 3%;
}

/* Si moins de 768px RESPONSIVE TELEPHONE */
@media screen and (max-width: 768px) {
  .logo {
    width: 50%;
  }

  .back {
    position: absolute;
    left: 6%;
  }
}
.section {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Shrikhand";
  color: #9356dc;
  font-size: 5rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  /*transparence*/
  animation: opening 3s forwards;
}

/*animation de charge*/
@keyframes opening {
  0% {
    opacity: 1;
    z-index: 3;
  }
  70% {
    opacity: 1;
    z-index: 3;
  }
  99% {
    opacity: 0;
    z-index: 3;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
/*figure de base*/
.loader {
  position: relative;
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

/*----------LOADER Quart de cercle----------*/
/*création du cercle*/
.loader-quart {
  border-radius: 50px;
  border: 6px solid rgba(147, 86, 220, 0.4);
}

/*élément pour mouvement*/
.loader-quart:after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #9356dc;
  animation: spin 1s linear 0s infinite;
}

/*animation*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*Media queries*/
/* Si moins 992px = RESPONSIVE TABLETTE 
@media screen and (max-width: 992px) {

}*/
/* Si moins de 768px RESPONSIVE TELEPHONE */
@media screen and (max-width: 767px) {
  .section {
    font-size: 2rem;
  }

  .loader {
    width: 25px;
    height: 25px;
  }
}
footer {
  z-index: 3;
  background-color: #353535;
  padding-bottom: 30px;
}

.footer__logo-text {
  padding-top: 30px;
  padding-left: 20px;
  margin: 0px;
}

.mention {
  padding-left: 20px;
  list-style: none;
  line-height: 1.5rem;
}
.mention i {
  margin-right: 10px;
}
.mention li a:hover {
  font-weight: bold;
}

/* CARD - menu-restaurant*/
/*Photo menu*/
.main__menu__photo {
  margin: 0;
}
.main__menu__photo--plat {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

/**carte menu**/
.menu {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  border-radius: 25px 25px 0 0;
  padding: 0 20px 40px 20px;
  margin-top: -50px;
}

.menu__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*liste des containers*/
.container__starter, .container__plate, .container__dessert {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

/* titre restaurant + coeur*/
.menu__title {
  position: relative;
  padding-top: 20px;
}

/**Animation coeur**/
.menu__icone {
  position: absolute;
  top: 50px;
  right: 10%;
  cursor: pointer;
}

.colorfull {
  transition: opacity 0.8s;
  opacity: 0;
  background-image: linear-gradient(175deg, #9356DC, #ef74da);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.colorfull:hover {
  opacity: 1;
}

/*soulignement letttes*/
h2 span {
  border-bottom: 2px solid #99E2D0;
}

/*style des vignettes*/
.starter--1, .starter--2, .starter--3, .starter--4, .plate--1, .plate--2, .plate--2, .plate--3, .dessert--1, .dessert--2, .dessert--3 {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #d5d5d5;
  margin-bottom: 25px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  min-width: 280px;
}

/******************************************************************** 
                    ANIMATION - apparition carte menus
*********************************************************************/
.container__starter, .starter--1, .starter--2, .starter--3, .starter--4 {
  transition: 5s;
  animation: slideDown 2s 1;
}

.container__plate, .plate--1, .plate--2, .plate--3 {
  transition: 5s;
  animation: slideDown 3s 1;
}

.container__dessert, .dessert--1, .dessert--2, .dessert--3 {
  transition: 5s;
  animation: slideDown 4s 1;
}

@keyframes slideDown {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/******************************************************************** 
                    VIGNETTES & ANIMATIONS
*********************************************************************/
.starter--1, .starter--2, .starter--3, .starter--4, .plate--1, .plate--2, .plate--2, .plate--3, .dessert--1, .dessert--2, .dessert--3 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  /*overflow: hidden;*/
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 0.3rem;
  box-sizing: border-box;
  padding: 1rem 0 1rem 0.7rem;
}
.card__content p {
  margin: 0px;
}

/*permet la disparation du texte en ellipse*/
.entitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 0.5rem;
}

.entitle__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: width 1s;
}
.entitle__content .entitle__add {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 1rem;
}
.entitle__content .entitle__price {
  position: absolute;
  right: 1rem;
  transform: translateX(0);
  transition: transform 1s;
}

.card__checkpoint {
  width: 4.5rem;
  transform: translateX(4.5rem);
  transition: transform 1s ease-out;
  background: #99E2D0;
  overflow: hidden;
}
.card__checkpoint .fa-check-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  background: #99E2D0;
}

/*mouvement circulaire icone check*/
@keyframes check_rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/**********************************
        slide checkpoint + price
************************************/
.starter--1:hover .entitle__content, .starter--2:hover .entitle__content, .starter--3:hover .entitle__content, .starter--4:hover .entitle__content, .plate--1:hover .entitle__content, .plate--2:hover .entitle__content, .plate--3:hover .entitle__content, .dessert--1:hover .entitle__content, .dessert--2:hover .entitle__content, .dessert--3:hover .entitle__content {
  width: 80%;
}
.starter--1:hover .entitle__price, .starter--2:hover .entitle__price, .starter--3:hover .entitle__price, .starter--4:hover .entitle__price, .plate--1:hover .entitle__price, .plate--2:hover .entitle__price, .plate--3:hover .entitle__price, .dessert--1:hover .entitle__price, .dessert--2:hover .entitle__price, .dessert--3:hover .entitle__price {
  transform: translateX(-4.5rem);
}
.starter--1:hover > .card__checkpoint, .starter--2:hover > .card__checkpoint, .starter--3:hover > .card__checkpoint, .starter--4:hover > .card__checkpoint, .plate--1:hover > .card__checkpoint, .plate--2:hover > .card__checkpoint, .plate--3:hover > .card__checkpoint, .dessert--1:hover > .card__checkpoint, .dessert--2:hover > .card__checkpoint, .dessert--3:hover > .card__checkpoint {
  transform: translateX(0);
}
.starter--1:hover > .card__checkpoint .fa-check-circle, .starter--2:hover > .card__checkpoint .fa-check-circle, .starter--3:hover > .card__checkpoint .fa-check-circle, .starter--4:hover > .card__checkpoint .fa-check-circle, .plate--1:hover > .card__checkpoint .fa-check-circle, .plate--2:hover > .card__checkpoint .fa-check-circle, .plate--3:hover > .card__checkpoint .fa-check-circle, .dessert--1:hover > .card__checkpoint .fa-check-circle, .dessert--2:hover > .card__checkpoint .fa-check-circle, .dessert--3:hover > .card__checkpoint .fa-check-circle {
  animation: check_rotate 2s 0.5s forwards;
}

/* Bouton Commander*/
.placement__btn {
  display: flex;
  justify-content: center;
  margin: 0px;
}

.btn__buy {
  width: 10rem;
  box-shadow: 3px 3px 10px #8d8d8d;
  border-radius: 40px;
  padding: 20px 30px 20px 30px;
  background: linear-gradient(#ef74da, #9356dc);
  transition: opacity 0.5s;
  opacity: 1;
  text-align: center;
}
.btn__buy a {
  color: #fff;
}
.btn__buy:hover {
  opacity: 0.8;
  box-shadow: 3px 3px 10px #3f3f3f;
}

/******************************************************************** 
                    media queries
*********************************************************************/
/*Si moins 992px = RESPONSIVE TABLETTE*/
@media screen and (max-width: 992px) {
  .menu__container {
    display: block;
    padding-left: 20px;
  }

  .container__starter, .container__plate, .container__dessert {
    width: 95%;
    display: block;
  }

  .menu__title {
    padding-left: 20px;
  }

  .starter--1, .starter--2, .starter--3, .plate--1, .plate--2, .plate--2, .plate--3, .dessert--1, .dessert--2, .dessert--3 {
    height: auto;
  }
}
/*Si moins de 768px RESPONSIVE TELEPHONE*/
@media screen and (max-width: 768px) {
  .main__menu__photo--plat {
    height: 260px;
  }

  .menu {
    padding: 0 10px 60px 10px;
  }
  .menu__title {
    padding-left: 10px;
  }

  .menu__icone {
    top: 42px;
  }

  .menu__container {
    padding: 0 10px 20px 10px;
  }

  .container__starter, .container__plate, .container__dessert {
    width: 100%;
  }

  .starter--1, .starter--2, .starter--3, .starter--4, .plate--1, .plate--2, .plate--2, .plate--3, .dessert--1, .dessert--2, .dessert--3 {
    height: auto;
  }
}
body {
  position: relative;
  margin: 0 auto;
  z-index: 2;
  max-width: 1440px;
  height: auto;
}

/* page INDEX */
/*barre de localisation*/
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  box-shadow: inset 0px 5px 3px #d5d5d5;
  /*bordure intérieure*/
}
.location .fa-map-marker-alt {
  margin-right: 10px;
}

/*bloc Présentation*/
.section__title {
  margin: 20px 0 0px 0;
}

.presentation {
  padding: 30px 0 50px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f6f6f6;
}
.presentation__btn {
  box-shadow: 3px 3px 10px #8d8d8d;
  border-radius: 40px;
  padding: 20px 30px 20px 30px;
  background: linear-gradient(#ef74da, #9356dc);
  transition: opacity 0.5s;
  opacity: 1;
}
.presentation__btn:hover {
  opacity: 0.8;
  box-shadow: 3px 3px 10px #3f3f3f;
}

/*Page index - section OPERATION - "fonctionnement"*/
.operation {
  margin: 30px 0 30px 0;
}

.section__title {
  display: flex;
  justify-content: center;
}

.bloc__operation__step {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.operation__step {
  position: relative;
  margin: 20px 0 20px 0;
}
.operation__step-num {
  position: absolute;
  top: -10%;
  left: 0%;
  color: #fff;
}
.operation__step .text-num {
  padding: 10px 14px 5px 14px;
  border-radius: 50%;
  background-color: #9356dc;
}
.operation__step__container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 3px 3px 10px #d5d5d5;
  margin: 0 0 0 20px;
  height: 70px;
  width: 300px;
  transition: background-color 0.5s;
}
.operation__step__container i {
  color: #7e7e7e;
  padding: 0 20px 0 20px;
  transition: color 0.5s;
}
.operation__step__container:hover > i {
  color: #9356dc;
}
.operation__step__container:hover {
  background-color: #f5edff;
  box-shadow: 3px 3px 10px #3f3f3f;
}

/*page index - section RESTAURANT */
#restaurant {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container__card {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-bottom: 40px;
}

.card {
  width: 35%;
  max-height: 60%;
  background-color: white;
  border-radius: 25px;
  box-shadow: 3px 3px 10px #8d8d8d;
  margin: 20px 20px 0 20px;
}
.card__photo__menu {
  position: relative;
}
.card__photo__menu .photo {
  width: 100%;
  height: 300px;
  object-fit: cover;
  /*adapte la photo au ratio*/
  overflow: hidden;
  border-radius: 23px 23px 0px 0px;
}
.card__photo__menu .new {
  position: absolute;
  top: 10%;
  right: 10%;
}
.card__photo__menu .new__text {
  background-color: #99E2D0;
  color: #008766;
  padding: 5px;
}
.card__text {
  position: relative;
  padding-left: 20px;
}
.card__text-title, .card__text-address {
  line-height: 0.5rem;
  /*hauteur boite de la ligne*/
}
.card:hover {
  box-shadow: 3px 3px 10px #3f3f3f;
}

/*icone coeur - transition couleur*/
.fa-heart {
  position: absolute;
  top: 20%;
  right: 15%;
  cursor: pointer;
}

.colorempty:hover {
  border: 0px;
}

.colorfull {
  transition: opacity 0.8s;
  opacity: 0;
  border: 0px;
  background-image: linear-gradient(175deg, #9356dc, #ef74da);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.colorfull:hover {
  opacity: 1;
}

/******Media Queries INDEX ****/
/* Si moins 992px = RESPONSIVE TABLETTE */
@media screen and (max-width: 992px) {
  /***Section OPERATION -- "fonctionnement" ***/
  .bloc__operation__step {
    flex-direction: column;
  }
}
/* Si moins de 768px RESPONSIVE TELEPHONE */
@media screen and (max-width: 767px) {
  .presentation {
    text-align: center;
  }
  .presentation h1 {
    padding: 0px 40px 0px 40px;
  }

  .operation__step__container:active > i {
    color: #9356dc;
  }
  .operation__step__container:active {
    background-color: #f5edff;
    box-shadow: 3px 3px 10px #3f3f3f;
  }

  .container__card {
    flex-direction: column;
  }

  .card {
    width: 88%;
  }

  .card__photo__menu .photo {
    height: 180px;
  }
}

/*# sourceMappingURL=style.css.map */
