@charset "UTF-8";
/*************** BASE Caractéristiques GENERALES *************/
.photo {
  width: 20%;
}

/*************** BASE Caractéristiques INDEX ***************/
/*************** BASE Caractéristiques MENU ***************/
img .photo-menu {
  width: 70%;
}

/*************** TYPO Caractéristiques GENERALES *************/
body {
  font-family: roboto;
}

h1 {
  font-size: 1.5em;
  background-color: #c0c0d6;
  border-radius: 10px 10px 5px 5px;
}

/*************** TYPO Caractéristiques INDEX ***************/
/*************** TYPO Caractéristiques MENU ***************/
.restaurant__name {
  font-family: "Shrikhand", cursive;
}

/*************** BUTTONS Caractéristiques GENERALES ***************/
/*************** BUTTONS Caractéristiques INDEX ***************/
/*************** BUTTONS Caractéristiques MENU ***************/
/*************** HEADER Caractéristiques GENERALES ***************/
/*************** HEADER Caractéristiques INDEX ***************/
#logo__header {
  display: flex;
  justify-content: center;
}
#logo__header.logo {
  width: 500%;
  background-color: blue;
}

/*************** HEADER Caractéristiques MENU ***************/
