/*************** Caractéristiques GENERALES *************/
body{
    font-family: roboto;

}

h1{
    font-size: 1.5em;
    color: red;
    }


/*************** Caractéristiques INDEX ***************/





/*************** Caractéristiques MENU ***************/

.restaurant__name{
    font-family: 'Shrikhand', cursive;
}
