/* TYPO GENERALES */
body{
    font-family: roboto;
    color: #000;
}

p{
    font-size: 1.2rem;
}

/* TYPO Caractéristiques INDEX */
h1{
    font-size: 1.8rem;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: #000;
}

i{
    font-size: 1.5rem;
}


/* titre des sections - index */
.section__title {
    font-size: 1.8rem;
    font-weight: bold;
    }  

/* section PRESENTATION */
.presentation{
    &__text{
        font-size: 1.5rem; 
    }
    &__btn{
        a{
        color: rgb(255, 255, 255);
        }
    }
}

/*section OPERATION "fonctionnement" - index */
.operation{
    &__step__container-title{
        font-weight: bold;
    }
   
}

/* section RESTAURANT - index */
.card{
    font-size: 1.0rem;
       
    .new__text{
        font-size: 0.9rem;
        font-weight: bold;  
    }

    &__text-title{
        font-weight: bold;     
    } 
 }

 /* FOOTER */
 .footer__logo-text{   
    font-family:'Shrikhand';
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}

.mention li a {
    color: #fff;
    i{
        font-size: 1rem;
    }
}


/* Si moins de 768px RESPONSIVE TELEPHONE */ 
@media screen and (max-width:768px) {

    h1, .section__title{
        font-size: 1.5rem;
        }

    .presentation__text{
        font-size: 1.2rem;
    }

    p{
        font-size: 1rem;
    }  
}

/*Typo page menu restaurant - CARD */

.fa-arrow-left{
    font-size: 2rem;
}

/*--------------------*/
/* TYPO MENU */
.restaurant__name{
    font-family: 'Shrikhand', cursive;
    font-size: 2rem;
}

.menu__title{
    font-weight: normal;
    font-size: 1.2rem;
}

.entitle, .entitle__price{
    font-weight: bold;
    font-size: 1.2rem;

    &__add{
        font-weight: normal;
        font-size: 0.9rem;
    }
}

.btn__buy p{
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;

}

/* Si moins de 768px RESPONSIVE TELEPHONE */ 
@media screen and (max-width:768px) {

    .fa-arrow-left{
        font-size: 1.5rem;
    }
}
