footer{
    position: relative;
    z-index: 1;
    
    background-color: #353535;
    padding-bottom: 30px;

    .footer__logo-text{
        padding-top: 30px;
        padding-left: 20px;
        margin: 0px;
    }
    
    .mention{
        padding-left: 20px;
        list-style: none;
        line-height: 1.5rem;

        i{     
            margin-right: 10px;
        }
        
        li a:hover{
            font-weight: bold;
        }
    }
}