/*************** Caractéristiques GENERALES ***************/
#logo__header .logo{
    display: flex;
    justify-content: center;
    width: 500%;
    background-color: blue;
}

/*************** Caractéristiques INDEX ***************/


/*************** Caractéristiques MENU ***************/


