/*************** HEADER Caractéristiques GENERALES ***************/


/*************** HEADER Caractéristiques INDEX ***************/
#logo__header{
    display: flex;
    justify-content: center;

    &.logo{
    width: 500%;
    background-color: blue; 
    }
}

/*************** HEADER Caractéristiques MENU ***************/


