header{
    position: relative;
    z-index: 1;
}

/*HEADER - INDEX*/
.header__logo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0;
       }

/* Si moins de 768px RESPONSIVE TELEPHONE */ 
@media screen and (max-width:768px) {
    .logo{
        width: 50%;
    }   
}

/* HEADER CARD menu */
.back{
    position: absolute;
    left: 3%;
}

/* Si moins de 768px RESPONSIVE TELEPHONE */ 
@media screen and (max-width:768px) {
    .logo{
        width: 50%;
    }   
  
}
