.section{
    position:fixed;
    top: 0;
    left:0;
    bottom: 0;
    width:100%;    
    height:auto;  
    z-index: 1;
    
    overflow:hidden;   

    display: flex;
    justify-content: center;
    align-items: center; 

    font-family:'Shrikhand';
    color: $primarycolor;
    font-size: 5rem;    
    text-align: center;
    background-color:rgb(255, 255, 255,.8);/*transparence*/
    animation: opening $durationop forwards;
}

/*animation de charge*/
@keyframes opening{
    0%{
        opacity: 1;   
        z-index: 3;    
    }
    70%{        
        opacity: 1;   
        z-index: 3;     
    }  
    99%{          
        opacity: 0;   
        z-index: 3; 
    }
    100%{          
        opacity: 0;   
        z-index: -1; 
    }
}

/*figure de base*/
.loader{
    position: relative;
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;  
    margin-right: 10px;
}

/*----------LOADER Quart de cercle----------*/
/*création du cercle*/
.loader-quart{
    border-radius: 50px;
    border: 6px solid rgb(147, 86, 220,0.4);
}
/*élément pour mouvement*/
.loader-quart:after{
    content:'';
    position: absolute;
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    border-radius: 50px;
    border:6px solid transparent;
    border-top-color:$primarycolor;
    animation: spin 1s linear 0s infinite;
}

/*animation*/
@keyframes spin{
    0%{
           transform: rotate(0deg);
    }
    100%{
           transform: rotate(360deg);
    }
}

